@use "../global" as *;

.jobinfo-title {
    margin-bottom: max(vw(375, 40), rem(40));

    @include mq("md") {
        flex-direction: row;
        justify-content: start;
        align-items: center;
        margin-bottom: rem(80);
    }
}

.jobinfo-title__images {
    width: vw(375, 304);
    height: vw(375, 91);
    margin-bottom: max(vw(375, 19), rem(19));

    @include mq("md") {
        width: calc(508px / $inner * 100%);
        height: calc(146px / $inner * 100%);
        margin-bottom: 0;
    }
}

.jobinfo-title__text {
    margin-bottom: 0;

    @include mq("md") {
        margin-left: calc(131px / $inner * 100%);
    }
}
