@use "../global" as *;

.message__inner {
    @include mq("md") {
        // padding-left: calc($padding-pc *2);

    }
}

.message__items {
    display: flex;
    flex-direction: column;
    padding-bottom: vw(375, 8);

    @include mq("md") {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        position: relative;
        z-index: -1;
        margin-top: max(vw(1366, -95), -95px);
        padding-bottom: 0;
    }
}

.message__images {
    position: relative;
    border-radius: 0 20% 0 0;
    margin-bottom: min(vw(375, 50.81), 50.81px);
    margin-left: max(vw(375, 12), 12px);

    @include mq("md") {
        width: calc(712px / $inner * 100%);
        margin: 0;
        box-shadow: none;
        margin-left: 0;
    }
}

.message__images img {
    width: 100%;
    height: 100%;
    display: block;
    aspect-ratio: 331/205;
    object-fit: cover;
    object-position: top;
    border-radius: 0 20% 0 0;
    @include mq("md") {
        aspect-ratio: 712/445;
    }
}

// 画像の後ろの影
.message__images::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: $sub-color;
    border-radius: 0 17% 0 0;
    transform: translate(-6px, 0px) rotate(-4deg);
    position: absolute;
    bottom: 0;
    z-index: -1;

    @include mq("md") {
        width: 100%;
        transform: translate(-15px, 0px) rotate(-4deg);
    }

}


.message__sentence {
    font-size: rem(16);
    line-height: calc(28 / 16);
    margin-bottom: rem(-8);

    @include mq("md") {
        width: calc(259px / $inner * 100%);
        margin-top: 20px;
        line-height: calc(26 / 16);
    }
}
